.margin-top-5 { margin-top: 5px }
.margin-top-20 { margin-top: 20px }

.margin-bottom-5 { margin-bottom: 5px; }
.margin-bottom-10 { margin-bottom: 10px; }
.margin-bottom-40 { margin-bottom: 40px; }

.price {
  font-family: Menlo, Monaco, Consolas, Courier New, monospace;
  font-weight: lighter;
  font-size: 14px;
  color: #B12704;
}

$address-height: 245px;
.address {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 15px;

  &.address-item {
    height: $address-height;
    border: 1px solid #C7C7C7;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .16);
  }

  &.address-new {
    height: $address-height;
    border: 2px dashed #C7C7C7;
    text-align: center;
  }

  > .radio {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.address-action {
  position: absolute;
  bottom: 15px;
}

.line {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #d3e0e9;
}

.product-category {
  position: absolute;
  bottom: 35px;
}

// overrrides
.page-header {
  border-bottom: 1px solid #cccccc;
}

.panel-body {
  font-family: "sans-serif", Arial;
}

.thumbnail {
  background-color: #ffffff;
}

.alert {
  margin-bottom: 0;
}